<a href="https://colab.research.google.com/github/tribber93/MachineLearning/blob/main/UTS_Machine_Learning_no_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [92]:
import numpy as np
import pandas as pd

In [93]:
path = '/content/drive/MyDrive/Machine Learning/dataset/dataset_uts-2021.csv'
df = pd.read_csv(path)
df

,No,Name,Address,Mobile Phone,Project,Email
0,1,Princy Odom,Street 1 New Lane,789456120.0,Client,princy@text.com
1,2,Appy Alexa,Ac Street,568798821.0,Client,appy@text.com
2,3,Luna Knox,PO.BOX 12-Loren Park,NaN,NaN,luna@text.com
3,4,Clark Andrews,PO.BOX 156-Settle Road,123545342.0,Client,clark@text.com
4,5,Riley Drew,PO.BOX 16-Thames Street,789821211.0,intenal,riley@text.com
5,6,August Bork,PO.BOX 17-Thames Street,125921931.0,Internal,aug@text.com
6,7,Riley Drew,PO.BOX 16-Thames Street,789821211.0,Internal,riley@text.com
7,8,XYS,Street 12 New Way,0.0,NaN,NaN
8,9,Erica Flint,Street 7 New Lane Road,789456128.0,Internal,erica@text.com

In [94]:
df.dtypes

No                int64
Name             object
Address          object
Mobile Phone    float64
Project          object
Email            object
dtype: object

In [95]:
# a. Menghapus baris yang hilang
df.dropna(inplace = True)
df

,No,Name,Address,Mobile Phone,Project,Email
0,1,Princy Odom,Street 1 New Lane,789456120.0,Client,princy@text.com
1,2,Appy Alexa,Ac Street,568798821.0,Client,appy@text.com
3,4,Clark Andrews,PO.BOX 156-Settle Road,123545342.0,Client,clark@text.com
4,5,Riley Drew,PO.BOX 16-Thames Street,789821211.0,intenal,riley@text.com
5,6,August Bork,PO.BOX 17-Thames Street,125921931.0,Internal,aug@text.com
6,7,Riley Drew,PO.BOX 16-Thames Street,789821211.0,Internal,riley@text.com
8,9,Erica Flint,Street 7 New Lane Road,789456128.0,Internal,erica@text.com

In [96]:
# b. Menghapus kolom yang berisi data yang tidak relevan (Hapus Kolom No)
df.drop(["No"],inplace=True,axis=1)
df

,Name,Address,Mobile Phone,Project,Email
0,Princy Odom,Street 1 New Lane,789456120.0,Client,princy@text.com
1,Appy Alexa,Ac Street,568798821.0,Client,appy@text.com
3,Clark Andrews,PO.BOX 156-Settle Road,123545342.0,Client,clark@text.com
4,Riley Drew,PO.BOX 16-Thames Street,789821211.0,intenal,riley@text.com
5,August Bork,PO.BOX 17-Thames Street,125921931.0,Internal,aug@text.com
6,Riley Drew,PO.BOX 16-Thames Street,789821211.0,Internal,riley@text.com
8,Erica Flint,Street 7 New Lane Road,789456128.0,Internal,erica@text.com

In [97]:
# c. Perbaiki kesalahan input (intenal harusnya Internal)
df.loc[4,'Project'] = "Internal"
df

,Name,Address,Mobile Phone,Project,Email
0,Princy Odom,Street 1 New Lane,789456120.0,Client,princy@text.com
1,Appy Alexa,Ac Street,568798821.0,Client,appy@text.com
3,Clark Andrews,PO.BOX 156-Settle Road,123545342.0,Client,clark@text.com
4,Riley Drew,PO.BOX 16-Thames Street,789821211.0,Internal,riley@text.com
5,August Bork,PO.BOX 17-Thames Street,125921931.0,Internal,aug@text.com
6,Riley Drew,PO.BOX 16-Thames Street,789821211.0,Internal,riley@text.com
8,Erica Flint,Street 7 New Lane Road,789456128.0,Internal,erica@text.com

In [98]:
# d. Ubah Tipe data float64 untuk Mobile Phone menjadi Teks atau Object

# convert ke int untuk menghapus .0 lalu baru ke string
df['Mobile Phone'] = df['Mobile Phone'].astype(int).astype(str) 
df

,Name,Address,Mobile Phone,Project,Email
0,Princy Odom,Street 1 New Lane,789456120,Client,princy@text.com
1,Appy Alexa,Ac Street,568798821,Client,appy@text.com
3,Clark Andrews,PO.BOX 156-Settle Road,123545342,Client,clark@text.com
4,Riley Drew,PO.BOX 16-Thames Street,789821211,Internal,riley@text.com
5,August Bork,PO.BOX 17-Thames Street,125921931,Internal,aug@text.com
6,Riley Drew,PO.BOX 16-Thames Street,789821211,Internal,riley@text.com
8,Erica Flint,Street 7 New Lane Road,789456128,Internal,erica@text.com

In [99]:
df.dtypes

Name            object
Address         object
Mobile Phone    object
Project         object
Email           object
dtype: object

In [100]:
# e. Ganti nama semua kolom dalam bahasa Indonesia
df = df.rename(columns={
    'Name': 'Nama', 
    'Address':'Alamat', 
    'Mobile Phone':'Nomor Handphone',
    'Project': 'Projek'
}) 
df

,Nama,Alamat,Nomor Handphone,Projek,Email
0,Princy Odom,Street 1 New Lane,789456120,Client,princy@text.com
1,Appy Alexa,Ac Street,568798821,Client,appy@text.com
3,Clark Andrews,PO.BOX 156-Settle Road,123545342,Client,clark@text.com
4,Riley Drew,PO.BOX 16-Thames Street,789821211,Internal,riley@text.com
5,August Bork,PO.BOX 17-Thames Street,125921931,Internal,aug@text.com
6,Riley Drew,PO.BOX 16-Thames Street,789821211,Internal,riley@text.com
8,Erica Flint,Street 7 New Lane Road,789456128,Internal,erica@text.com

In [101]:
# f. Simpan dalam file dataset yang baru
path2 = '/content/drive/MyDrive/Machine Learning/dataset/dataset-uts-baru-2022.csv'
df.to_csv(path2)

In [103]:
df2 = pd.read_csv(path2)
df2

,Unnamed: 0,Nama,Alamat,Nomor Handphone,Projek,Email
0,0,Princy Odom,Street 1 New Lane,789456120,Client,princy@text.com
1,1,Appy Alexa,Ac Street,568798821,Client,appy@text.com
2,3,Clark Andrews,PO.BOX 156-Settle Road,123545342,Client,clark@text.com
3,4,Riley Drew,PO.BOX 16-Thames Street,789821211,Internal,riley@text.com
4,5,August Bork,PO.BOX 17-Thames Street,125921931,Internal,aug@text.com
5,6,Riley Drew,PO.BOX 16-Thames Street,789821211,Internal,riley@text.com
6,8,Erica Flint,Street 7 New Lane Road,789456128,Internal,erica@text.com